<title>
    @ViewData["Title"] - Grafico
</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">


    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(CarregaDados);

    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("Grafico", "Home")',
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function(data) {
                GraficoSensor(data);
                return false;
            }
        });
        return false;
    }

    function GraficoSensor(data) {
        var dataArray = [
            ['Regiao', 'eventos' ]
        ];
        $.each(data, function(i, item) {
            dataArray.push([item.regiao, item.total]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Eventos sensores por região',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#b0120a'],
            hAxis: {
                title: 'Eventos totais',
                minValue: 0
            },
            vAxis: {
                title: 'Região'
            }
        };
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        return false;
    }
</script>
